<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
                    PAGE TITLE
        </title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="icon" href="/static/salaWeb/images/salamandrina.svg"> -->
    </head>
    <body bgcolor="#a5edc2">
        <div id="page-content-wrapper">
            <div class="container-fluid" style="padding-top: 5px">
                <div id="wrapper">
                    <div class="jumbotron" style="padding-top: 5px">
                        <h2>
                            PAGE TITLE
                        </h2>
                        <p>
                            Click on the pictures to browse, or download the
                            <a href="fotos.zip">
                                full archive file
                            </a>
                            .
                        </p>
                        <hr>
                        <div class="row">
                            <!-- <div class="col-md-2"> -->
                                <a href="foto_001.html">
                                    <img
                                        class="img-thumbnail img-fluid"
                                        src="thumbs/thumb_2015-05-05_14-24-51_P5050001.jpg"
                                        width=150px
                                    />
                                </a>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default navbar-fixed-bottom footer-colors" style="height: 80px;">
                <div class="container" align="center" style="margin-top: 15px;">
                    <small>
                        <img src="/static/salaWeb/images/salamandrina.svg" alt="Logo" height=50px>
                        Salamandrina
                    </small>
                </div>
            </nav>
        </div>
    </body>
</html>
